<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
    <head>
        <title>Daftar Jabatan</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:fragment="content">
        <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                      <div class="x_title">
                        <h1>Jabatan</h1>
                        <br/>
                        <br/>
                        <div class="clearfix"></div>
                        <a th:href="@{/jabatan/form}">
                        <button type="button" class="btn btn-primary">Tambah Jabatan</button>
                        </a>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
          <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Nama Jabatan</th>
                    <th>Deskripsi</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="j : ${daftarJabatan}">
                    <td th:text="${j.namaJabatan}">Nama Jabatan</td>
                    <td th:text="${j.deskripsi}">Deskripsi</td>
                    <td>
                        <a href="form.html" th:href="@{/jabatan/show(id=${j.id})}">
                        <button type="button" class="btn btn-success label">Lihat</button>
                        </a> 
                        <a href="view.html" th:href="@{/jabatan/form(id=${j.id})}">
                        <button type="button" class="btn btn-primary label">Edit</button> 
                        </a>                         
                        <a href="delete.html" th:href="@{/jabatan/delete(id=${j.id})}">
                        <button type="button" class="btn btn-danger label">Hapus</button>
                        </a>
                        </td>
                </tr>
            </tbody>
        </table>
          </div>
        </div>
        </div>
       </div>
    </body>
</html>
