<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Show Assigment</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:fragment="content"  th:object="${assigment}">
            <div class="clearfix"></div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                    <h2>Assigment &nbsp;</h2> <h2 th:text="${assigment.idUser}"></h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <br />
                  
        <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">ID User : </label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${assigment.idUser}">nama</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">ID Jabatan : </label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${assigment.idJabatan}">level</p>
                    </div>
                                 
            </form>
                  
                  </div>
                  </div>
                </div>
              </div>
        </div>
    </body>
</html>
